@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body{
	background-color: white;
    font-family: "Poppins", sans-serif;
}
header{
    
    top:0;left:0; right :0;
    background-color: #4D194D;    
    padding:15px 3%;
    display: flex;
    align-items: center;
}

header .navbar{
    width: 100%;
    max-width: 1200px;
    display: flex;
}

header nav img{
    width: 150px;
}
.logo{
    flex:1
}
.menu{
    display:flex;
    align-items: center;
    list-style-type: none;
    color:white;
}
.menu li {
    padding:15px 10px;
    font-size: 18px;
    position: relative;
    display: inline-block;
}
nav a {
    color:white;
    text-decoration: none;
}
nav a:hover{
    color:#E2FCEF;
}
.toggle{
    font-size: 30px;
    display: none;
}
.menu li:hover .dropdown-menu{
    list-style: none;
    display: block;
    position: absolute;
    top: 0;
    top: 100%;
    background-color: #4D194D;
}
.dropdown-menu{
    display: none;
}
.dropdown-menu ul{
    display: block;
    margin:10px;
}

.dropdown-menu li:hover{
    background-color: #E2FCEF;
    color:#4D194D;
}
.dropdown-menu li a:hover{
    background-color: #E2FCEF;
    color:#4D194D;
}

.dropdown-menu li {
    width: 150px;
    padding: 15px;
}

.icone-bas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
hr.dropdown-divider{
    padding:0;
}

/*------debut perso SIDE BAR------*/

#check{
    display: none;
}
#checkbtn{
    float: right;
    color:#E2FCEF;
    line-height: 100px;
    margin-right: 10px;
    font-size: 40px;   
    display: none; 
}

/*------fin perso SIDE BAR------*/
.show, input{
    display: none;
}
#check:checked~ ul{
    left: 0;
}

@media screen and (max-width: 800px){
    header nav #checkbtn{
        display: block;
        float: right;
    }
    header .navbar .menu{
        position: absolute;
        top:25%;
        left: 700px;
        right:0;
        background-color:#4D194D;
        border-top: 1px solid;
        display: block;
        height:100vh;
        text-align: center;
        font-size: 15px; 
    }
    header .navbar .menu li {
        width: 100%;  
        position: relative;            
    }
    header .navbar .menu li a{
        padding: 8px 30px 8px 10%;
        position: relative;  
    }
    header .navbar ul li .dropdown-menu{
        display: none;
        position: relative;
        top: 0;
        left: 0;
        color:#4D194D;
         
    }
    header .navbar ul li:hover .dropdown-menu {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        color: #4D194D;
        border: none;
        text-align: center;
    }
    header .dropdown-menu li:hover, header .dropdown-menu li a:hover {
        background-color:#E2FCEF;
        color:#4D194D;
        border: none;
    }
    header .dropdown-menu li:active{
        background-color: #E2FCEF;
    }
    header .navbar ul li{
        display: block;
    }
    header .navbar ul li ul li{
        position: relative;
        width: 100%;
        left: 0;
    }
}
    
