* { box-sizing: border-box; }

.contenue-page-cptc {
    display: flex;
    justify-content: space-between; /* Distribue les éléments également dans l'espace disponible */
    flex-wrap: wrap; /* Permet le retour à la ligne des éléments lorsque l'espace est insuffisant */
    
}

.list-cptc{
    margin: 20px 0;
    background-color:#4D194D;
    color: white;
    width: 50%;
    padding: 20px 50px;

}
.list-cptc h2{
    text-align: center;
    padding-bottom: 20px;
    color: #E2FCEF;
}


.list-outils{
    padding: 30px 50px;
    width: 50%;
    box-sizing: border-box; 
    
}
.list-outils img{
    width: 20%;
    padding: 20px;
}

.list-outils img:hover{
	background-color:#E2FCEF;
	transition: 0.2s;

}
.list-outils h2{
    color: #4D194D;
    text-align: center;
    padding-bottom: 20px;
}

.list-langues{
    margin: 20px 0;
    background-color:#4D194D;
    color: white;
    width: 100%;
    padding: 20px 50px;
}
.list-langues h2{
    text-align: center;
    padding-bottom: 20px;
    color: #E2FCEF;
}
.list-langues li{
    text-align: center;
}

@media (max-width: 980px) {
    .contenue-page-cptc{
      flex-direction: column;
        
    }
    .list-cptc{
        width: 100%;
    }
    .list-outils{
        width: 100%;
        margin:0 20px;
    }
}
